PATH="/usr/bin:/bin:/usr/sbin:/sbin"
PLAT="$(uname -s)"
if [[ "$PLAT" == "Linux" ]]; then
    PATH="$PATH:/home/linuxbrew/.linuxbrew/opt/direnv/bin:/home/linuxbrew/.linuxbrew/opt/direnv/sbin"
    PATH="$PATH:$HOME/.linuxbrew/opt/direnv/bin:$HOME/.linuxbrew/opt/direnv/sbin"
elif [[ "$PLAT" == "Darwin" ]]; then
    PATH="$PATH:/usr/local/opt/direnv/bin:/usr/local/opt/direnv/sbin"
    PATH="$PATH:/usr/local/opt/bash/bin:/usr/local/opt/bash/sbin"
fi
export PATH
